<!DOCTYPE html>
<html>
<head>
<title>login</title>
</head>
<body>

<%= button_to "Provider Login", providerLogin_path, method: :get %>
<%= button_to "Customer Login", customerlogin_path, method: :get%>

</body>
</html>
