



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag "allCustomers", "data-turbo-track": "reload" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

      
    <title>All users</title>
  </head>
  <body>
    <h1> <b>Your Customers</b> </h1>
    <input type="text" id="columnFilter1" placeholder="Find by name" />
    <input type="text" id="columnFilter2" placeholder="Find by gmail" />
  
    <table id="all_customers">
      
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @regCustomers.each do |customer| %>

        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.email %></td>
          <td>
            <%= button_to "View Details", showCustomerDetails_path(customer), method: :get %>
          </td>
        </tr>

        <% end %>
      </tbody>
    </table>
  </body>

  <script>
    var filters = document.querySelectorAll('input[id^="columnFilter"]');

    filters.forEach(function (filter) {
      filter.addEventListener("input", function () {
        var columnIndex = parseInt(filter.id.slice(-1), 10) - 1;
        var filterValue = filter.value.toLowerCase();
        var rows = document.querySelectorAll("#all_customers tbody tr");

        rows.forEach(function (row) {
          var cells = row.querySelectorAll("td");
          var cellValue = cells[columnIndex].innerText.toLowerCase();
          var shouldDisplayRow = cellValue.includes(filterValue);

          row.classList.toggle("hide", !shouldDisplayRow);
        });
      });
    });
  </script>
</html>











