<h1>Select your package </h1>

<%= button_to "internet", internetPackagesavailable_path, method: :get %>
<%= button_to "Cable", cablePackagesavailable_path, method: :get %>
<%= button_to "Paper", paperPackagesavailable_path, method: :get %>