<!DOCTYPE html>
<html lang="en">
      <div> 
        <h3 style= "margin-bottom: 10px;">
          Filter by month and year
        </h3>
  <%= select_tag 'year', options_for_select((Date.current.year - 10..Date.current.year).to_a), prompt: 'Select year', id: 'year-selector' %>
    <%= select_tag 'month', options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |name, index| [name, index + 1] }), prompt: 'Select month', id: 'month-selector' %>
    </div>
       
<div id="result-container">
    <%= render partial: "bills_partial",locals:  {your_bills: @your_bills}%>
</div>

</html>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
     $(document).ready(function() {
    function fetchRecords() {
      var month = $('#month-selector').val();
      var year = $('#year-selector').val();

      // Make an AJAX request to fetch the records
      $.ajax({
        url: "/your_bills/getbills",
        type: "GET",
        dataType: "html",
        data: { month: month, year: year },
        success: function(response) {
          // Display the fetched records
          $("#result-container").html(response);
        },
        error: function(xhr) {
          console.log(xhr.responseText);
        }
      });
    }

    // Listen for changes in the month and year selectors
    $('#month-selector, #year-selector').on('change', function() {
      fetchRecords();
    });

    // Fetch default records on page load
    fetchRecords();
  });


  </script>
