@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);


#review_card .center {
  width: 70%;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.3);
}

#review_card .profile {
  display: flex;
  flex-direction: column;
  float: left;
  width: 25%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#review_card .profile .image {
  margin: 20px auto 0 auto;
}
#review_card .profile .image .circle-1 {
  box-sizing: border-box;
  border-width: 1px;
  border-radius: 50%;
  transition: all 1.5s ease-in-out;
}

#review_card .profile .image img {
  display: block;
  border-radius: 50%;
  background: #F5E8DF;
}

#review_card .profile .name {
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}
#review_card .profile .job {
  font-size: 11px;
  line-height: 15px;
}

#review_card .profile .actions .btn {
  display: block;
  background: none;
  border: 1px solid #668871;
  border-radius: 15px;
  font-size: 12px;
  padding: 10px;
  font-weight: 600;
  margin-top: 20px;
  
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  color: #668871;
}
#review_card .profile .actions .btn:hover {
  background: #668871;
  color: #fff;
}

#review_card .stats {
  float: left;
  width: 75%;
}
#review_card .stats .box {
  box-sizing: border-box;
  background: #c3e1cc;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 28px;
  transition: all 0.4s ease-in-out;
}
#review_card .stats .box:hover {
  background: #9fd8b4;
  cursor: pointer;
}
#review_card .stats .box:nth-child(2) {
  margin: 1px 0;
}
#review_card .stats span {
  display: flex;
  padding-left: 10px;
}
#review_card .stats .value {
  font-size: 18px;
  font-weight: 600;
}
#review_card .stats .parameter {
  font-size: 11px;
}